@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to the HTML Previewer</h1>
    <p style="color:green;">Please click on the editor tab to begin.</p>
</div>
