@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the HTML Previewer</h1>
    @*<p style="color:green;">Please click on the editor tab to begin.</p>*@
    <p> <a class="btn btn-success" asp-area="" asp-page="HTML_Editor/Index">Start Editor</a> </p>
    <img src="~/images/html-coding.jpg" alt="">
</div>
