@page
@model HTMLPreviewWeb.Pages.HTML_Editor.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HTMLContent</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HTMLContent.Description" class="control-label"></label>
                <input asp-for="HTMLContent.Description" class="form-control" />
                <span asp-validation-for="HTMLContent.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTMLContent.Content" class="control-label"></label>
                <textarea id="preview_code"asp-for="HTMLContent.Content" class="form-control" cols="80" rows="10"></textarea>
                <span asp-validation-for="HTMLContent.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
        <button type="button" class="btn btn-primary" onclick="myFunction()">Preview</button>
    </div>
    <div class="col-md-6 bg-success text-white">
        <h1>Preview Area</h1>
        <p id="preview">

        </p>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
